/*reset*/
*{margin: 0; padding: 0;}
.clear::before, clear::after {display: block; content: ''; clear: both;}
li{list-style: none;}
a{text-decoration: none; color: #333;}


/*layout*/
#wrap { }
.container {width: 1000px; margin: 0 auto;}
#header { }
#banner {}
#content1 {}
#content2 {clear: both; }
#footer {  }

/*style*/
#header {position: relative; }
#header h1 {}
#header img { width: 150px; margin: 10px;}
#header nav {position: absolute; right: 50px; top: 70px;}
#header nav ul { display: flex; }
#header ul li {}
#header ul li a { padding: 20px; font-size: 18px; font-weight: bold; }


#banner {}
#banner img {width: 100%;}


#content1 {margin-top: 10px;  }
#content1 .cont1 {margin-right: 2%; padding: 8px; width: 100%; position: relative; width: 49%; float: left; border: 1px solid #ccc;}
#content1 .cont1 h2 {font-size: 18px; margin: 10px 10px; }
#content1 .cont1 em {font-style: normal; color:#ccc;}
#content1 .cont1 ul {margin-top: 10px; padding: 10px; line-height: 1.4;}
#content1 .cont1 ul li {padding: 5px;}
#content1 .cont1 ul span {float: right;}
#content1 a {position: absolute; top: 20px; right: 20px;}
#content1 a img {width: 15px;}
#content1 .cont2 {width: 47%; float: right; }
#content1 .cont2 img { width: 100%;}



#content2 {margin-top: 20px; }
#content2 .cont2 { }
#content2 h2 { margin-top: 10px;}
#content2 ul {margin-top: 10px; display: flex; justify-content: space-between; }
#content2 ul li {float: left; width: 24.25%;  }
#content2 ul img {width: 100%; margin-bottom: 10px;}

#footer {border-top: 1px solid #ccc; margin-top: 30px; padding: 30px 0;}
#footer address {font-style: normal; font-size: 14px; color: #666;}
#footer address ul li {position: relative; display: inline; line-height: 1.4; padding: 0 10px;}
#footer address ul li.left {}
#footer address ul li::after { 
    content: '';
    width: 1px;
    height: 12px;
    background: #666;
    position: absolute; right: 0; top: 3px;
}
#footer address ul li:nth-child(2)::after {width: 0; height: 0;}
#footer address ul li:last-child::after {width: 0; height: 0;}
#footer address p {text-transform: uppercase; padding-top: 30px;}