/*reset*/
*{margin: 0; padding: 0; font-size: 16px;}
a{color: #333; text-decoration: none;}
li{list-style: none;}
.clearfix::before, .clearfix::after { content: ''; display: block; clear: both;}


/*layout*/
#warp{width: 1000px; margin: 0 auto; background: #ccc; height: 1000px; }
#header {background: aqua; height: 100px; }
#banner {}
#content1 { }
#content2 {}
#footer { }

/*header*/
#header { }
#header h1 {float: left; padding: 10px 0;}
#header h1 img {width: 120px;}
#header .nav {float: right; background: #ccc; }
#header .nav ul {margin-bottom: 20px; }
#header .nav ul li {position: relative; float: left; width: 140px; text-align: center; padding: 10px 0 0 0;}
#header .nav ul li a {font-size: 20px; display: block; font-weight: bold; padding: 24px 20px 20px 20px; } 
#header .nav ul li a:hover {background: #ccc; }
#header .nav ul li .submenu {display: none; position: absolute; left: 0; top: 66px; margin-top: 10px;}
#header .nav ul li .submenu li {  }
#header .nav ul li .submenu li a {padding: 10px; background: #888;}
#header .nav ul li .submenu li a:hover {background: #666;}

/*banner*/
#banner { }
#banner img {width: 100%; }

/*content1*/
#content1 {margin-top: 20px; }
#content1 .left { float: left; width: 49%; padding: 20px;  margin-right: 2%; 
    background: #f2f2f2 url(../images/icon1.jpg) no-repeat right 20px center; 
    background-size: 80px;  
    box-sizing: border-box;
    }
#content1 .left title {font-size: 20px; padding-bottom: 5px; }
#content1 .left dese {font-size: 14px; color: #666; padding-bottom: 15px; }
#content1 .left .btn {
    
    background: url(../images/sicon1.gif) no-repeat left top;
    background-size: 20px;
    padding-left: 25px;}
#content1 .right { 
    float: left; width: 49%; margin-right: 0;  padding: 20px; box-sizing: border-box; 
    background: #f2f2f2 url(../images/icon2.jpg) no-repeat right 20px center; 
    background-size: 80px;  
}
#content1 .right title {font-size: 20px; padding-bottom: 5px; }
#content1 .right dese {font-size: 14px; color: #666; padding-bottom: 15px; }
#content1 .right .btn {
    
    background: url(../images/sicon2.gif) no-repeat left top;
    background-size: 20px;
    padding-left: 25px;
}

#content1 .right em {font-style: normal; font-size: 13px; color: #999;   }


/*content2*/

#content2 {width: 1000px;  margin-top: 20px; margin-bottom: 30px;}
#content2 h2 { font-size: 24px; padding-bottom: 10px;}
#content2 .best { }
#content2 .best figure { float: left; width: 32%; margin-right: 2%;}
#content2 .best figure img { width: 100%;}
#content2 .best figure:last-child {margin-right: 0;}
#content2 .best figcaption { }

/*footer*/
#footer { padding: 20px 0; background: #202020; padding-top: 50px;}
#footer h2 {float: left; padding-left: 20px; }
#footer h2 img {width: 150px; }
#footer .foot {float: right; }
#footer .foot ul { padding-bottom: 10px;}
#footer .foot ul li {display: inline;}
#footer .foot ul li a {color: #fff; padding-right: 10px;}
#footer .foot address {font-style: normal; color: #ccc; }




























