/*reset*/
*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
li{ list-style: none;}
.clearfix::before, .clearfix::after {content: ''; display: block; clear: both;}


/*layout*/
#warp {width: 1000px; margin: 0 auto; height: 1000px;  }
#header { height: 80px; }
#banner { }
#footer {width: 1200px; margin: 0 auto; }


/*header*/
#header h1 {float: left; padding: 10px 0; }
#header img {width: 110px; }
#header .nav {float: right; background:#ddd;}
#header .nav li {float: left; position: relative; width: 140px; text-align: center;}
#header .nav li a {font-size: 20px; font-weight: bold; display: block; padding: 22px; }
#header .nav li a:hover{background: #ccc;}
#header .nav li ul.submenu {display: none; position: absolute; left: 0; top: 67px; z-index: 100;}
#header .nav li ul.submenu li a {padding: 10px; background: #888; }
#header .nav li ul.submenu li a:hover{background: #666;}

/*banner*/
#banner {height: 389px; overflow: hidden;}
#banner img {width: 100%; display: block;}
.slideList {height: 389px; width: 1000px; position: relative; z-index: 50;}
.slideList .slideImg {position: relative; }
.slideList .slideImg h2 {position: absolute; left: 50%;top: 50%; transform: translate(-50%, -50%); background: rgba(0,0,0,0.4); padding: 10px 30px; border-radius: 20px;}



/*content1*/
#content1 {margin-top: 20px; }
#content1 .left {float: left; width: 48%; padding: 20px; box-sizing: border-box; margin-right: 2%; background: #f2f2f2 url(../images/icon1.jpg) no-repeat right 20px center;  background-size: 90px;}
#content1 .left h2 {font-size: 20px; padding-bottom: 5px;}
#content1 .left p { font-size: 14px; color: #666; padding-bottom: 20px;}
#content1 .left a {
    background: url(../images/sicon1.gif) no-repeat left center;
    background-size: 20px;
    padding-left: 25px;
    }   

#content1 .right {float: left; width: 49%; margin-right: 0; background: #f2f2f2; box-sizing: border-box; padding: 20px;
    background: #f2f2f2 url(../images/icon2.jpg) no-repeat right 20px center;  background-size: 90px;}
#content1 .right h2 {font-size: 20px; padding-bottom: 5px;}
#content1 .right p { font-size: 14px; color: #666; padding-bottom: 20px;}
#content1 .right a {
    background: url(../images/sicon2.gif) no-repeat left center;
    background-size: 20px;
    padding-left: 25px;
 }   
 #content1 .right em {font-style: normal; font-size: 13px; color: #999; padding-left: 10px;}

 /*content2*/
 #content2 {margin-top: 20px; margin-bottom: 30px;}
 #content2 h2 {font-size: 24px; padding-bottom: 10px;}
 #content2 .best figure {float: left; width: 32%; margin-right: 2%;}
 #content2 .best figure:last-child {margin-right: 0;}
 #content2 .best figure img {width: 100%; }
 #content2 .best figure figcaption { }

 /*footer*/
 #footer { background: #202020; padding: 50px; margin-top: 50px; }
 #footer h2 {float: left; }
 #footer h2 img {width: 150px;}
 #footer .foot {}
 #footer .foot h2 {}
 #footer .foot ul { float: right;  }
 #footer .foot ul li {display: inline; }
 #footer .foot ul li a { color: #fff; padding: 10px 30px; }
 #footer .foot address {float: right; padding: 30px 0px; font-style: normal; color: #ccc; line-height: 2;}