*{margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none; font-family: 'Overpass', sans-serif; }


/*layout*/
#warp {width: 100%; }
#header {width: 100%; height: 1000px;}
#banner {}
#section {}
#section {}
#section {}
#footer { }


/*header*/
#header {position: relative; background-color: #fff;}
#header h1 { }
#header h1 img {float: left; position: absolute; top: 30px; left: 40px;}

/*오버1*/
#header .imglogo  {}
#header .imglogo h1 {}
#header .imglogo em {
    visibility: hidden;
    padding: 20px 8px 20px 8px;
    position: absolute; left: 42px; top: 32px;
    background: rgba(56,28,117,1); color: #fff;
    line-height: 1;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}
#header .imglogo:hover em{visibility: visible; color:#fff; }

/*nav*/
#header .nav {
    float: right; display: inline; 
}
#header .nav ul { 
    display: flex; justify-content: space-between; 
    margin-top: 100px; margin-right: 200px;
}
#header .nav ul li {}
#header .nav ul li a {
    color: #381C75; padding: 30px; 
    font-size: 18px; font-weight: lighter;  
}
#header .nav .ham {
     flex: 1 1 0; position: relative;   
}       
#header .nav .ham .bar {
    position: absolute; 
    right: 100px; top: 110px; 
    transform: translateY(-50%); 
    width: 50px; height: 50px; 
    cursor: pointer;}       
#header .nav .ham .bar span{
    width: 30px; height: 1px;
    background: #FF285B;
    position: relative;
    display: block;
    transition: all 0.5s ease;
    margin-top: 25px;
    margin-left: 10px; }       
#header .nav .ham .bar span::before {
    content: '';
    width: 100%; height: 1px;
    background: #FF285B;
    position: absolute;
    right: 0; top: -11px;
    transform-origin: left;
    transition: all 0.5s ease;
}       
#header .nav .ham .bar span::after {
    content: '';
    width: 100%; height: 1px;
    background: #FF285B;
    position: absolute;
    right: 0; bottom: -11px;
    transform-origin: right;
    transition: all 0.5s ease;
}       
#header .nav .ham .bar.on span {transform: rotate(360deg);}
#header .nav .ham .bar.on span::before {top: -10px; transform: translateX(15%) rotate(45deg);}
#header .nav .ham .bar.on span::after {bottom:-10px; transform: translateX(-85%) rotate(135deg);}

/*header main*/
#header h2 {
    font-size: 120px; position: absolute; top: 260px; left: 130px; 
    line-height: 0.9; color: #381C75;
}
#header p {
    font-size: 100px; 
    position: absolute; top: 500px; left: 130px; 
    color: #FF285B;}
#header .work { 
    position: absolute; top: 600px; right: 100px;
}
#header .work h3 {
    transform: rotate(90deg); font-size: 15px; 
    color: #ccc; 
}
#header .arrow img { 
    width: 20px;  position: absolute; top: 650px; right: 110px; 
    color:#ccc;
}
#header .line { }
#header .line::before {
    content: ''; width: 90px; height: 20px; position: absolute; left: 20px; top: 567px; 
    background: #FF285B;
}
#header .circle{
    width: 10px; height: 90px;
    background:#FF285B; 
    margin-bottom: 10px;
    position: absolute;
    top: 530px; left: 0px;
    text-align: center;
    line-height: 60px; 
}

/*banner*/
#banner {width: 100%; height: 1000px; }
#banner .bannerwarp {width: 100%; height: 1000px; background-color: #F3F3F3; position: relative;}
#banner .ban1 { }
#banner .ban1 h3 {
    font-size: 60px;
    color: #FF285B;
    position: absolute;
    top: 250px; left: 300px;
    
 }
#banner .ban1 .line { }
#banner .ban1 .line::before{ 
    content: ''; width: 150px; height: 5px; 
    position: absolute; left: 140px; top: 295px; 
    background: #FF285B; }
#banner .ban2 ul {
     position: absolute; left: 300px; top: 390px;
    line-height: 1.8;
    }
#banner .ban2 ul li {font-size: 40px; color: #381C75;}
#banner .ban3 {position: relative; }
#banner .ban3 h3 { 
    font-size: 30px;
    position: absolute;
    top: 850px; left: 300px;
    color: #381C75;    
}
#banner .ban3 p {
    position: relative;
    width: 100px;
    height: 80px;
    padding-top: 10px;
    margin: 20px 0;
    background:#FF285B; 
    border-radius: 50% / 10%;
    color: white;
    font-size: 25px;
    text-align: center;
    text-indent: .1em;
    position: absolute;
    left: 300px; top: 850px;
}

#banner .ban3 p::before{
    content: '';
    position: absolute;
    top: 30%;
    bottom: 30%;
    right: -5%;
    left: -5%;
    border-radius: 5% / 50%;
}

/*contents1*/
#contents1 {
    display: flex; margin-top: 80px; 
    position: relative;
}

#contents1 .cont1{margin-top: 0; margin-left: 22%;}
#contents1 .cont1 h3 {
    font-size: 60px; text-align: center; 
    margin-bottom: 10px; 
    color: #381C75;
}
#contents1 .cont1 .box1 {
    border: 3px solid #381C75;
    width: 500px; height: 500px; 
    position: relative;
}
#contents1 .cont1 .box1 img{width: 500px; height: 500px; }
#contents1 .cont1 .box1:hover::before { opacity: 0;}
#contents1 .cont1 .box1::before {
    content: '';
    width: 100%; height: 100%;
    background: rgba(56,28,117,0.8);
    position: absolute; left: 0; top: 0;
}
#contents1 .cont1.show h3{
    animation-name: fadeInLeftBig;
    animation-fill-mode: both;
}
#contents1 {}
#contents1 .cont2{position: absolute; top: 300px; left: 960px; }
#contents1 .cont2 h3 { font-size: 60px; text-align: center;  margin-bottom: 10px; color: #381C75;}
#contents1 .cont2 .box2 {
    border: 3px solid #381C75;
    width: 500px; height: 500px;
    position: relative;
 }
#contents1 .cont2 .box2 a { }
#contents1 .cont2 .box2 img{width: 500px; height: 500px;}
#contents1 .cont2 .box2:hover::before { opacity: 0;}
#contents1 .cont2 .box2::before {
    content: '';
    width: 100%; height: 100%;
    background: rgba(56,28,117,0.8);
    position: absolute; left: 0; top: 0;
}
#contents1 .cont2.show h3{
    animation-name: fadeInRightBig;
    animation-delay: 3s;
}

@keyframes fadeInLeftBig {
    from {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeftBig {
    animation-name: fadeInLeftBig;
  }

@keyframes fadeInRightBig {
    from {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .fadeInRightBig {
    animation-name: fadeInRightBig;
  }


  /*contents2*/

#contents2 {
    display: flex; margin-top: 00px; 
    position: relative;
}

#contents2 .cont1{
    margin-top: 0; 
    margin-left: 22%;
    position: absolute;
    top: 600px; left: 0px;
}
#contents2 .cont1 h3 {
    font-size: 60px; text-align: center; 
    margin-bottom: 10px; 
    color: #381C75;
}
#contents2 .cont1 .box1 {
    border: 3px solid #381C75;
    width: 500px; height: 500px; 
    position: relative;
}
#contents2 .cont1 .box1 img{width: 500px; height: 500px; }
#contents2 .cont1 .box1:hover::before { opacity: 0;}
#contents2 .cont1 .box1::before {
    content: '';
    width: 100%; height: 100%;
    background: rgba(56,28,117,0.8);
    position: absolute; left: 0; top:00px;
}
#contents2 .cont1.show h3{
    animation-name: fadeInLeftBig;
    animation-fill-mode: both;
}
#contents2 {margin-top: 100px;}
#contents2 .cont2{position: absolute; top: 400px; left: 960px; }
#contents2 .cont2 h3 { font-size: 60px; text-align: center;  margin-bottom: 10px; color: #381C75;}
#contents2 .cont2 .box2 {
    border: 3px solid rgb(56, 28, 117);
    width: 500px; height: 500px;
    position: relative;
    opacity: 100;
 }
#contents2 .cont2 .box2 a { }
#contents2 .cont2 .box2 img{width: 500px; height: 500px;}
#contents2 .cont2 .box2:hover::before { opacity: 0;}
#contents2 .cont2 .box2::before {
    content: '';
    width: 100%; height: 100%;
    background: rgba(56,28,117,0.8);
    position: absolute; left: 0; top: 0;
}
#contents1 .cont2.show h3{
    animation-name: fadeInRightBig;
    animation-delay: 3s;
}

@keyframes fadeInLeftBig {
    from {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeftBig {
    animation-name: fadeInLeftBig;
  }

@keyframes fadeInRightBig {
    from {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .fadeInRightBig {
    animation-name: fadeInRightBig;
  }
