/*  미디어 쿼리 */
@media (max-width: 1679px){
    #banner .button {
        position: absolute;
        bottom:37.5vh;
        right: 34vw;
      }
    #contents4 .slide-warp {width: 40%;  }
    #contents4 .slide-img { width: 100%;}
    #contents4 .slide-img .slides {width: 100%; }
    #contents4 .slider-btn a.prev {
        position: absolute;
        right:49vw;
        top: 1vh; 
        color: #FF285B; 
        }
    #contents4 .slider-btn a.next {
        position: absolute;
        right: 10vw;
        top: 1vh;
        color: #FF285B; 
        } 
    #contents4 .image1{
        width: 40%;
        }
    #footer .mbox {
        margin-left: 79vh;
        }
    }


@media (max-width: 1500px){
    .arrow1 img { 
        position: absolute;
        bottom: 8vh; right: 11.2vw;
    }
    .arrow2 .imgB{
        position: absolute;
        bottom: 8vh; right: 11.2vw;
        display: none;
    }
}

@media (max-width: 1220px){
    .arrow1 img { 
        position: absolute;
        bottom: 10vh; right: 11.4vw;
    }
    .arrow2 .imgB{
        position: absolute;
        bottom: 10vh; right: 11.4vw;
        display: none;
    }
}

@media (max-width: 1024px) {
    .arrow1 img { 
        position: absolute;
        bottom: 13vh; right: 11.9vw;
    }
    .arrow2 .imgB{
        position: absolute;
        bottom: 13vh; right: 11.9vw;
        display: none;
    }
    #banner .button {
        position: absolute;
        bottom:44vh;
        right: 34vw;
      }
    #contents4 .slide-warp {width: 40%;  }
    #contents4 .slide-img { width: 100%;}
    #contents4 .slide-img .slides {width: 100%; }
    #contents4 .slider-btn a.prev {
        position: absolute;
        right:49vw;
        top: 1vh; 
        color: #FF285B; 
        }
    #contents4 .slider-btn a.next {
        position: absolute;
        right: 10vw;
        top: 1vh;
        color: #FF285B; 
        } 
    #contents4 .image1{
        width: 40%;
        }
    #footer .mbox {
        margin-left: 60vh;
        }
    }
   
   

@media (max-width: 960px){
    .imglogo .container h1 img{
        display: none;
    }
    .arrow1 img { 
        position: absolute;
        bottom: 13vh; right: 11.9vw;
    }
    .arrow2 .imgB{
        position: absolute;
        bottom: 13vh; right: 11.9vw;
        display: none;
    }
@keyframes animated-text{
    from{width: 0;}
    to{width: 55vw;}
}
.arrow1 img { 
    position: absolute;
    bottom: 13vh; right: 11.9vw;
}
.arrow2 .imgB{
    position: absolute;
    bottom: 13vh; right: 11.9vw;
    display: none;
}
#footer .sbox {
    width: 13vw;
    margin-left: 20vh;
  }
}
@media (max-width: 768px){
    .imglogo .container h1 img{
        display: none;
    }   
    #banner .button {
        position: absolute;
        bottom:52vh;
        right: 34vw;
      }
@keyframes animated-text{
    from{width: 0;}
    to{width: 55vw;}
}
.arrow1 img { 
    position: absolute;
    bottom: 14vh; right: 12.5vw;
}
.arrow2 .imgB{
    position: absolute;
    bottom: 14vh; right: 12.5vw;
    display: none;
}
#contents4 .slide-warp {width: 48%;  }
#contents4 .slide-img { width: 100%;}
#contents4 .slide-img .slides {width: 100%; }
#contents4 .slider-btn a.prev {
    position: absolute;
    right:53vw;
    top: 1vh; 
    color: #FF285B; 
    }
#contents4 .slider-btn a.next {
    position: absolute;
    right: 5vw;
    top: 1vh;
    color: #FF285B; 
    } 
#contents4 .image1{
    width: 48%;
    }
#footer .mbox {
    margin-left: 50vh;
    }
#footer .sbox {
    width: 16vw;
    margin-left: 20vh;
    }
    }    
@media (max-width: 600px){
    .imglogo .container h1 img{
        display: none;
    }   
    #banner .button {
        position: absolute;
        bottom:57vh;
        right: 32vw;
      }
@keyframes animated-text{
    from{width: 0;}
    to{width: 55vw;}
}
.arrow1 img { 
    position: absolute;
    bottom: 16vh; right: 13vw;
}
.arrow2 .imgB{
    position: absolute;
    bottom: 16vh; right: 13vw;
    display: none;
}
#contents4 .slide-warp {width: 62%;  }
#contents4 .slide-img { width: 100%;}
#contents4 .slide-img .slides {width: 100%; }
#contents4 .slider-btn a.prev {
    position: absolute;
    right:53vw;
    top: 1vh; 
    color: #FF285B; 
    }
#contents4 .slider-btn a.next {
    position: absolute;
    right: 3vw;
    top: 1vh;
    color: #FF285B; 
    } 
#contents4 .image1{
    width: 62%;
    }
#footer .mbox {
    margin-left: 38vh;
    }
#footer .sbox {
    width: 20vw;
    margin-left: 10vh;
    }
    }  
    @media (max-width: 320px){
        .imglogo .container h1 img{
            display: none;
        }   
        #banner .button {
            position: absolute;
            bottom:50vh;
            right: 45vw;
          }
    @keyframes animated-text{
        from{width: 0;}
        to{width: 55vw;}
    }
    .arrow1 img { 
        position: absolute;
        bottom: 19vh; right: 15vw;
    }
    .arrow2 .imgB{
        position: absolute;
        bottom: 19vh; right: 15vw;
        display: none;
    }
    #contents1 .cont1{width: 100%;}
    #contents1 .cont1 .box1 {
        width: 100%;
    }
    #contents1 .cont1 .box1 p{ display: none;}
    #contents1 .cont2 .box2 p{ display: none;}
    #contents2 .cont1 .box1 p{ display: none;}
    #contents2 .cont2 .box2 p{ display: none;}

    #contents4 .slide-warp {width: 140%;}
    #contents4 .slide-img { width: 100%;}
    #contents4 .slide-img .slides {width: 100%; }
    #contents4 .slider-btn a.prev {
        position: absolute;
        right:83vw;
        top: 1vh; 
        color: #FF285B; 
        }
    #contents4 .slider-btn a.next {
        position: absolute;
        right: 3vw;
        top: 1vh;
        color: #FF285B; 
        } 
    #contents4 .image1{
        margin: 0;
        width: 140%;
        }
    #footer .mbox {
        margin-left: 0vh;
        }
    #footer .sbox {
        width: 39vw;
        margin-right: 0;
        }
    #footer .bbox{
        display: none;
    }
        }  